.editor {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-y: scroll; /* Allow vertical scrolling */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; 
}

.editor-header {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.editor-button {}

.editor-header-button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 0;
}

.editor-button-image {
    width: 28px;
    height: 28px;
    object-fit: fill;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25%;
}

.header-button-image {
    width: 28px;
    height: 28px;
    object-fit: fill;
    display: inline;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25%;
}

.editor-content {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-self: center;
    padding: 0px;
    margin: 0;
}

.editor-data {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0;
    margin: 40px 0 0 0;
    border-radius: 0 0 18px 18px;

}


.enabled-editor .editor-board-header {
    background-color: rgb(28, 214, 214);
}

.enabled-editor .editor-board-header {
    justify-content: space-between;
    display: flex;
}

.enabled-editor .edit-button {
    display: none;
}

.enabled-editor .save-button, 
.enabled-editor .cancel-button {
    display: flex;
}


.disabled-editor:not(.focused-editor) .editor-board-header {
    background-color: rgb(117, 245, 101);
}

.disabled-editor:not(.focused-editor) .editor-board-header {
}

.disabled-editor:not(.focused-editor) .save-button,
.disabled-editor:not(.focused-editor) .cancel-button,
.disabled-editor:not(.focused-editor) .edit-button {
    display: none;
}


.disabled-editor:not(.not-focused-editor) .editor-board-header {
    background-color: rgb(255, 140, 0);
}

.disabled-editor:not(.not-focused-editor) .editor-board-header {
    display: flex;
    justify-content: center;
}

.disabled-editor:not(.not-focused-editor) .save-button,
.disabled-editor:not(.not-focused-editor) .cancel-button {
    display: none;
}

.disabled-editor:not(.not-focused-editor) .edit-button {
    display: flex;
}